body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 400;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.list {
  list-style: none;
}

.list__container {
  margin-bottom: 40px;
}

.list__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}
.list__item:not(:last-child) {
  margin-bottom: 5px;
}

/* ------------------------------About-me-------------------------------------- */

.aside-flex {
  position: relative;
  width: 100%;
  height: 420px;
  background-color: rgb(56, 102, 166);
}

.about-me {
  padding-top: 50px;
  padding-left: 500px;
  color: white;
}

img {
  display: block;
  width: 370px;
  position: absolute;
  left: 25px;
  top: 70px;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
}

.title::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
}

.title-big {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2;
}

.paragraf {
  margin-bottom: 20px;
  width: 400px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgb(216, 204, 204, 0.9);
}

.conteiner_contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact_item:not(:last-child) {
  margin-bottom: 10px;
}

.contact__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(216, 204, 204, 0.9);
  transition: color 300ms linear;
}

.contact__link:hover,
.contact__link:focus {
  color: white;
}

.contact_svg {
  margin-right: 10px;
  fill: currentColor;
}

/* ------------------------skills------------------------------ */

.work_experience {
  display: flex;
}
.skills {
  width: 500px;
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 60px;
  background-color: rgb(222, 217, 214);
}

.skills-skils:not(:last-child) {
  margin-bottom: 40px;
}

.color_title {
  color: rgba(41, 39, 39, 0.9);
}

/* ------------------------------------Experience--------------------------- */

.experience {
  padding-top: 60px;
  padding-left: 100px;
}

.experience__link {
  color: rgba(41, 39, 39, 0.9);
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.2;
}

.accent_color {
  transition: color 300ms linear;
}
.experience__link:hover .accent_color,
.experience__link:focus .accent_color {
  color: black;
}

/* -------------------------------project------------------------------ */

.project__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.7;
  color: rgba(41, 39, 39, 0.9);
  font-weight: bold;
}

.git__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.7;
  color: rgba(41, 39, 39, 0.9);
}

.project__link--orange {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.7;
  font-weight: bold;
  color: rgba(41, 39, 39, 0.9);
}

/* ---------------------------Education---------------------------- */

.education__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(41, 39, 39, 0.9);
  margin-bottom: 10px;
}
.education__profi {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2;
  color: #000000;
}
.education__peroid {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: rgba(41, 39, 39, 0.9);
}

.work {
  margin-bottom: 10px;
  margin-top: 10px;
}
